:root {
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26, 188, 156;
    --nav: rgb(44, 62, 80);
    --bs-secondary: #2c3e50;
    --bs-secondary-rgb: 44, 62, 80;
    --secondary-light: #3a546d;
    --secondary-light-rgb: 58, 84, 109;
    --bs-link-color-rgb: 26, 188, 156;
}

.secondary-light {
    background-color: var(--secondary-light);
}

.avatar img {
    max-width: 200px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 1.5rem 0 1.5rem;
}

.bg-dark,
.bg-light {
    margin: 0 0.7rem 0;
    width: 90px;
    height: 3px;
    border-radius: 10px;
}

.decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.my-btn {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #dddddd;
    --bs-btn-hover-border-color: #dddddd;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #b5b5b5;
    --bs-btn-active-border-color: #b5b5b5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}

.form-control {
    padding: 0;
}

.fa-bars {
    line-height: 48px;
}

.footer-icon>.fab {
    padding: 10px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook-f ,
.fa-twitter,
.fa-google,
.fa-linkedin-in{
    border: 1px solid white;
    border-radius: 50%;
    color: white;
}

.margin{
    margin-bottom: -20px;
}
